*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
    "hero hero hero hero"
    "form form table table"
    "form form table table";
}
form{
    background-color: aliceblue;
    grid-area: form;
}
.hero{
    background-color: whitesmoke;
    padding-left: 10px;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.85);
    grid-area: hero;
}
#table{
    grid-area: table;
}
th{
    color: whitesmoke;
}